@import url(https://fonts.googleapis.com/css?family=Arvo:400,700,400italic);
@import 'reset.css';

body {
	background: hsl(0, 0%, 95%);
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

div.wrapper {
	width: 70em;
}

header {
	position: fixed;
	background: hsl(0, 0%, 40%);
	float: left;
	padding: 1em;
	color: white;
	border-radius: 0 4px 4px 0;
	top: 2em;
	width: 13em;
}

section {
	position: relative;
	top: 2em;
	float: right;
	padding: 1em;
	width: 50em;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 19px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Arvo, inherit;
}

a {
	color: hsl(0, 0%, 30%);
}

header a {
	text-decoration: none;
	color: inherit;
}

header ul {
	list-style: none;
}

header li {
	margin: .25em 0;
	position: relative;
}

header p {
	margin: 1.5em 0
}

header li>a, header li>div {
	padding: .3em .3em .3em .8em;
	border-radius: 4px;
}

header li>a {
	display: block;
	background: hsl(0, 0%, 60%);
}

header li>div {
	color: hsl(0, 0%, 30%);
	background: hsl(0, 0%, 80%);
}

header li>select {
	color: hsl(0, 0%, 30%);
	background: hsl(0, 0%, 80%);
	border: none;
	font-family: inherit;
	font-size: inherit;
	height: 100%;
	position: absolute;
	top: 0;
	right: -2px;
	outline: none;
}

header li>div+a {
	position: absolute;
	top: 0;
	right: 0;
	width: 1em;
}

header li>svg {
	position: absolute;
	top: .5em;
	right: .25em;
}

header div.plus {
	position: relative;
	top: -1px;
}

.error {
	border: 1px solid hsl(0, 70%, 70%);
	border-radius: 6px;
}

.button {
	background: hsl(0, 0%, 80%);
	color: hsl(0, 0%, 70%);
	cursor: pointer;
	border: none;
	border-radius: 4px;
	font-size: inherit;
	padding: 0 .25em;
	margin: 0;
	text-decoration: none;
}

textarea {
	width: 100%;
	height: 20em;
	background: hsl(0, 0%, 90%);
	color: hsl(0, 0%, 10%);
	border: 1px solid hsl(0, 0%, 70%);
	border-radius: 6px;
	padding: .5em;
}

.signatures {
	list-style-position: inside;
}

.entry, .key {
	border: 1px solid hsl(0, 0%, 70%);
	border-radius: 6px;
	padding: .25em;
	margin: .1em;
}

.entry select {
	color: hsl(0, 0%, 30%);
	background: hsl(0, 0%, 80%);
	/* border: none; */
	font-family: inherit;
	font-size: inherit;
	/* outline: none; */
}

hr {
	border: none;
	background: hsl(0, 0%, 70%);
	height: 1px;
	margin: .25em;
}

code, input[type="text"] {
	border: 1px solid hsl(0, 0%, 80%);
	border-radius: 3px;
	background: hsl(0, 0%, 90%);
	padding: 0 .2em;
}

input[type="text"] {
	padding: .2em;
}

iframe {
	width: 100%;
	height: 50em;
}
